body {
  background-color: black;
  color: white;
  text-align: left;
  font-size: 20px;
  word-spacing: 5px;
}

.header{
  width:100%;
  height:auto;
}

.header-profile-img {
  border: solid 0px;
  float:left;
  margin:20px;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  left:50%;
  animation-name: slide-left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.profile-info{
  float:left;
  margin:0px 20px 20px 20px;
  animation-name: slide-left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.links{
  float:left;
  margin:50px 50px 0 60px;
  animation-name: slide-right;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.img-links {
  width: 100px;
  height: 100px;
  animation-name: slide-right;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.left-info{
  float:left;
  text-align: left;
  width:45%;
  margin-left: 20px;
}

.right-info{
  float:right;
  text-align: left;
  width:45%;
}

.left {
  margin-bottom:50px;
  animation-name: slide-left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.right {
  margin-bottom:30px;
  margin-left:60px;
  animation-name: slide-right;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.cert-links {
  margin-right:40px;
  margin-bottom:40px;
  width: 95%;
  height: 100%;
}

.education {
  margin-top:120px;
}

.right-info .right .cert-links:first-child {
  margin-top:150px;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

h1 {
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}

h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

b {
  color: yellow;
}
